.planCard {
    background: rgba(255, 255, 255, .04);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, .1);
    color: var(--color-primary);
    padding: 48px 32px 94px;
    /*width: 450px;*/
    height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    position: relative;
}

.planCardTitle {
    font-weight: 600;
    margin-bottom: 16px;
}

.planCardPrice {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 16px;
}

.planCardPriceValue {
    font-weight: 700;
    font-size: 48px;
    color: var(--color-primary);
}

.planCardPriceTerm {
    margin-left: 8px;
    font-weight: 400;
    font-size: 24px;
    color: #ccc;
}

.planCardDescription {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 8px;
}

.planCardFeaturesTitle {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: left;
}

.planCardFeatures {
    list-style: none;
    padding: 0;
    margin: 0 0 40px;
    text-align: left;
}

.planCardFeature {
    font-size: 1rem;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.checkIcon {
    margin-right: 8px;
    color: #4caf50;
    font-weight: bold;
}

.planCardButton {
    position: absolute;
    bottom: 48px;
    left: 32px;
    width: calc(100% - 64px);
}