.planCard {
    background: var(--color-background-40);
    border-radius: 1rem;
    border: 1px solid var(--color-bordeer-10);
    color: var(--color-primary);
    padding: 3rem 2rem 5.875rem;
    height: 100%;
    max-width: 30rem;
    box-shadow: var(--bow-shadow-10);
    margin: 0 auto;
    position: relative;
}

.planCardTitle {
    font-weight: 600;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.planCardPrice {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 1rem;
}

.planCardPriceValue {
    font-weight: 700;
    font-size: 3rem;
    color: var(--color-primary);
}

.planCardPriceTerm {
    margin-left: 0.5rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.planCardDescription {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.planCardFeaturesTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: left;
}

.planCardFeatures {
    list-style: none;
    padding: 0;
    margin: 0 0 2.5rem;
    text-align: left;
}

.planCardFeature {
    font-size: 1.5rem;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.checkIcon {
    margin-right: 0.5rem;
    color: var(--color-salad);
    font-weight: bold;
}

.planCardButton {
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    width: calc(100% - 4rem);
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1440px) {

}