.sectionTitle {
    font-size: 55px;
    font-weight: 600;
    line-height: 55px;
    color: var(--color-primary);
    text-align: center;
    display: inline-block;
}

.highlighted {
    font-family: "Instrument Serif", serif;
    font-style: italic;
    color: var(--color-primary);
}
