.sectionTitle {
    font-size: 3.4375rem;
    font-weight: 600;
    line-height: 3.4375rem;
    color: var(--color-primary);
    text-align: center;
    display: inline-block;
}

.highlighted {
    font-family: "Instrument Serif", serif;
    font-style: italic;
    color: var(--color-primary);
    margin-left: 1rem;
}
