.faqSection {
    position: relative;
    color: var(--color-primary);
    text-align: center;
    overflow: hidden;
}

.faqSection::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, rgba(128, 0, 255, 1), rgba(0, 0, 0, 0));
    filter: blur(120px);
    border-radius: 50%;
    z-index: 0;
}


.faqHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
}

.faqList {
    position: relative;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    width: 100%;
}


.faqItem {
    width: 100%;
    background: var(--color-background-40);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    margin-bottom: 0.625rem;
    padding: 0.9375rem 1.25rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.faqItem:hover {
    background: rgba(255, 255, 255, 0.05);
}
.faqQuestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.faqToggle {
    font-size: 1.5rem;
    font-weight: 600;
}

.faqAnswer {
    margin-top: 0.625rem;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
}
@media (min-width: 1024px) {
    .faqList {
        width: 70%;
    }
}