.plans {
    padding: 0.625rem 0;
}

.plans::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18.75rem;
    background: linear-gradient(180deg, rgba(128, 0, 255, 1), rgba(0, 0, 0, 0));
    filter: blur(70px);
    border-radius: 50%;
    z-index: 0;
}

.cardsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem
}

.cardsItem {
    max-width: 100%;
    height: auto;
}


@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .cardsList {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        gap: 1rem;
        padding: 1rem;
        width: 100%;
    }
    .cardsItem {
        flex: 1 0 30%;
        scroll-snap-align: start;
        object-fit: cover;
    }
}
