.heroSection {
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 9.375rem 1.25rem 6.25rem;
}

.heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 38.75rem;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(1.25rem);
    filter: blur(0.625rem);
    animation: fadeInBlur 1s ease-out forwards;
}

.heroName {
    max-width: 38.75rem;
    font-size: 1.75rem;
    color: rgba(255, 255, 255, 0.5);
}

.heroContentSpan {
    font-family: "Instrument Serif", serif;
    font-style: italic;
    font-weight: 300;
}

.heroTitle {
    letter-spacing: -0.04px;
    font-weight: 300;
    font-size: 4rem;
    line-height: 4rem;
}

.heroSubtitle {
    font-size: 2rem;
    font-weight: 400;
    transform: translateY(1.25rem);
    filter: blur(0.625rem);
    animation: fadeInBlur 0.5s ease-out 0.5s forwards;
}

.heroButton {
    max-width: 18.75rem;
}

@keyframes fadeInBlur {
    0% {
        opacity: 0;
        transform: translateY(1.25rem);
        filter: blur(0.625rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

