.heroSection {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 0;
}

.heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 620px;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(20px);
    filter: blur(10px); /* Начальное размытие */
    animation: fadeInBlur 1s ease-out forwards;
}

.heroName {
    max-width: 620px;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.5);
}

.heroContentSpan {
    font-family: "Instrument Serif";
    font-style: italic;
    font-weight: 300;
}

.heroTitle {
    font-size: 63px;
    letter-spacing: -0.04px;
    font-weight: 300;
    margin-bottom: 1rem;
    line-height: 67px;
}

.heroSubtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transform: translateY(20px);
    filter: blur(10px); /* Начальное размытие */
    animation: fadeInBlur 0.5s ease-out 0.5s forwards; /* Задержка в 1.2 секунды */
}

.heroButton {
    width: 300px;
}

/* Анимация с размытием */
@keyframes fadeInBlur {
    0% {
        opacity: 0;
        transform: translateY(20px);
        filter: blur(10px); /* Максимальное размытие */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0); /* Убираем размытие */
    }
}
