.sectionBadge {
    display: inline-flex;
    align-items: center;
    color: var(--color-primary);
    font-size: 1.5rem;
    line-height: normal;
    padding: 0.5rem 1.5rem;
    width: auto;
    border-radius: 1rem;
}