.logos {
    position: relative;
    overflow: hidden;
    padding: 3.75rem 0;
    white-space: nowrap;
    max-width: 100%;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 15.625rem;
    height: 100%;
    content: '';
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), black);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), black);
}

.logos:hover .logosSlide {
    animation-play-state: paused;
}
.logosSlide {
    display: inline-block;
    animation: 35s slide infinite linear ;
}


.brandLogo {
    width: 10rem;
    height: 5rem;
    margin: 0 2.5rem;
}

/* Анимация движения */
@keyframes slide {
    from {
        transform: translateX(0); /* Начальная позиция */
    }
    to {
        transform: translateX(-100%); /* Сдвиг на всю ширину */
    }
}
