.header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 20px;
    --menu-item-color: var(--color-primary);
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 100;
    top: 0;
    width: 100%;

    position: relative;
    height: 52px;
    padding: 0 20px;
    border-radius: 16px;
    transition: all .2s;

    background-color: rgba(255, 255, 255, .1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.menu-wrapped {
    background-color: var(--color-bg-menu);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navList {
    display: flex;
    gap: 1.5rem;
}

.navItem {
    position: relative;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.navItem:hover {
    color: #00bcd4; /* Light blue on hover */
}


